.bottles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
@media screen and (max-width: 576px) {
    .bottles-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}